/**
 * Small badges
 */
.opensciencebadges-sm {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.opensciencebadges-sm .opensciencebadge {
  display: grid;
  grid-template-columns: 2em 1fr;
  gap: 0.75em;
}

.opensciencebadges-sm .opensciencebadge img {
  width: 100%;
  height: auto;
}

.opensciencebadges-sm .opensciencebadge p {
  margin-top: 0;
}

/**
 * Large badges
 */

.opensciencebadges-lg {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.opensciencebadges-lg-badges {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  max-width: 100%;
}

.opensciencebadges-lg-badges img {
  max-width: 8em;
  min-width: 0;
}

.opensciencebadges-lg-descs .opensciencebadge-desc {
  margin-top: 0;
}

/**
 * When the badges appear in the article details section
 * (the sidebar in the default theme)
 */
.opensciencebadges-article-details .opensciencebadges {
  margin-top: 0.75em;
}
